body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-field {
  display: block;
  margin: 10px 0;
}

.input-field > span {
  margin-right: 10px;
}

.inner-input-wrapper {
  display: flex;
}

.inner-input-wrapper > span {
  flex: 1;
}

.inner-input-wrapper > input {
  flex: 2;
  padding: 10px;
}

.header {
  text-align: center;
  width: 100%;
}

.matrix-group {
  margin-bottom: 20px;
}

.result span {
  color: green;
  background-color: yellow;
  font-weight: normal;
}
